{%- case page.handle -%}
  {%- when "contact" -%}
    <div class="w-full h-20 bg-center bg-no-repeat bg-contain bg-ornament-contact "></div>

  {%- else -%}
    <div class="w-full h-20 bg-center bg-no-repeat bg-contain bg-ornament-product "></div>

{%- endcase -%}