/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply inline-flex items-center justify-center w-40 bg-no-repeat bg-contain bg-button-primary aspect-button text-main-primary;
	}
	.btn-secondary {
		@apply text-main-text inline-flex items-center justify-center w-40 bg-no-repeat bg-contain bg-button-secondary aspect-button;
	}
	.btn-minimal {
		@apply text-main-text border-b-2 border-main-text;
	}
}
@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
