/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer components {
	.btn-primary-test {
		@apply text-main-primary;
	}
	.btn-primary {
		@apply inline-flex items-center justify-center  bg-no-repeat bg-contain bg-button-primary aspect-button text-main-primary;
	}
	.btn-primary-light {
		@apply inline-flex items-center justify-center  bg-no-repeat bg-contain bg-button-primary-light text-main-text aspect-button;
	}
	.btn-secondary {
		@apply text-main-text inline-flex items-center justify-center  bg-no-repeat bg-contain bg-button-secondary aspect-button;
	}
	.btn-secondary-test {
		@apply text-main-text;
	}
	.btn-minimal {
		@apply text-main-text underline underline-offset-2 justify-self-end text-right;
	}

	.btn-grid {
		@apply grid items-center self-center justify-center place-content-center;
	}

	.grid-area {
		@apply col-start-1 col-end-1 row-start-1 row-end-1;
	}
}
@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
