<div class="mx-auto my-0 featured-collection-slider max-w-7xl md:px-14 page-width">
  {% if section.settings.title != blank %}
    <div class="grid grid-cols-3 justify-items-center">
      <h2 class="md:col-start-1 md:row-start-1 col-span-full place-self-center h3 heading-text-color">{{ section.settings.title | escape }}</h2>

      {% for block in section.blocks %}
        {% if block.settings.button_link %}
          <div class="[&>button]:text-center md:col-start-3 md:row-start-1 col-span-full md:[&>button]:text-right">
            {%- render 'button' block: block -%}</div>
        {% endif %}
      {% endfor %}

    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign product_limit = section.settings.product_count -%}

  <div class="flex justify-evenly">
    <button class="w-8 button--previous">{% render 'button-slider-prev' %}</button>
    <ul class="w-full px-10 products-carousel js-flickity" data-flickity>
      {% if collection != blank %}

        {% for product in collection.products limit: product_limit %}
          {% assign c = product %}
          {% render "collection-product" product: c %}
        {% endfor %}
      {% else %}
        {% for product in collections["set"].products limit: 4 %}

          {% assign c = product %}
          {% render "collection-product" product: c %}
        {% endfor %}

      {% endif %}
    </ul>
    <button class="w-8 button--next">{% render 'button-slider-next' %}</button>
  </div>
</div>



<style>

  .flickity-button:disabled {
    pointer-events: all !important;
  }

}
</style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.css"
  integrity="sha512-TZTUnuHs1njGko8PJqZlHzqZTZd880A+BvhR1jy1v4mWB4VFKVLG/eK9LYdDjxqNLmttSC1ygmqg6rkYjnEgaQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js" "></script>
<script>
  const carousel = document.querySelector("[data-flickity]")
  const flickity = new Flickity(carousel, {
    prevNextButtons: false,
    pageDots: false,
    prevNextButtons: false,
    pageDots: false,
    contain: true,
    cellAlign: "left",
    groupCells: true
  });

// previous
  var previousButton = document.querySelector('.button--previous');
  previousButton.addEventListener('click', function() {
    flickity.previous();
    console.log("prev")
  });

// next
  var nextButton = document.querySelector('.button--next');
  nextButton.addEventListener('click', function() {
    flickity.next();
    console.log("prev")
  });
</script>

{% schema %}
  {
    "name": "Collection Slider",
    "max_blocks": 1,
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Collection"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_count",
        "step": 1,
        "min": 4,
        "max": 12,
        "label": "Number of products to display",
        "default": 6
      }
    ],
    "blocks": [
      {
        "name": "Button",
        "type": "buttons",
        "settings": [
          {
            "type": "header",
            "content": "Link"
          },
          {
            "type": "paragraph",
            "content": "Choose to show a link and set the label and URL"
          },
          {
            "type": "checkbox",
            "id": "button_link",
            "label": "Link",
            "default": true
          },
          {
            "type": "url",
            "id": "url",
            "label": "Button link"
          }, {
            "type": "text",
            "label": "Label for button",
            "id": "button_label",
            "default": "See all"
          }, {
            "type": "select",
            "id": "button_variant",
            "label": "Button variant",
            "options": [
              {
                "value": "primary",
                "label": "Primary"
              }, {
                "value": "primary-light",
                "label": "Primary Light"
              }, {
                "value": "secondary",
                "label": "Secondary"
              }, {
                "value": "minimal",
                "label": "Minimal"
              }
            ],
            "default": "minimal"
          }, {

            "type": "range",
            "id": "button_width",
            "min": 10,
            "max": 20,
            "step": 1,
            "label": "Width",
            "default": 12
          }, {

            "type": "range",
            "id": "button_margin",
            "min": 0,
            "max": 40,
            "step": 4,
            "unit": "px",
            "label": "Margin",
            "default": 4
          }

        ]

      }

    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Collection Slider",
        "settings": {}
      }
    ]
  }
{% endschema %}